<div *ngIf="isSignedUp; else signupForm">
  Twoja rejestracja przebiegła pomyślnie ! Proszę się zalogować.
</div>

<ng-template #signupForm>
  <div class="form-container" style="max-width:350px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="name">Twoje imię</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="form.name" #name="ngModel" required />
        <div *ngIf="f.submitted && name.invalid">
          <div *ngIf="name.errors.required">Imię jest wymagane</div>
        </div>
      </div>
      <div class="form-group">
        <label for="username">Nazwa użytkownika</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
          required />
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Nazwa użytkownika jest wymagana</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel" required email />
        <div *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">Email jest wymagany</div>
          <div *ngIf="email.errors.email">Niepoprawny adres email</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Hasło</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
          required minlength="6" />
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Hasło jest wymagane</div>
          <div *ngIf="password.errors.minlength">Za krótkie hasło (wymagane 6 znaków)</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Zarejestruj się</button>
        <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
          Błąd rejestracji<br/>{{errorMessage}}
        </div>
      </div>
    </form>
  </div>
</ng-template>