.container {
  position: relative;
  width: auto;
  max-height: 20vh;
  display: inline-block;
  text-align: center;
}

.image {
  width: auto;
  max-height: 20vh;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  width: 60%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 40%;
}

.button {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 2px 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: auto;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}